body {
 margin: 0;
 padding: 0;
}

.top-bar {
    height: 6em;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.question-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    background-color: aliceblue;
    padding: 3em;
}

/* Question Titles */
.question-title {
    font-size: 3em;
}

/* Buttons */
.start-button {
    width: 14em;
    height: 5em;
    margin-top: 3em;
}

.restart-button {
    width: 1em;
    height: 0.75em;
}

.enter-button {
    width: 20em;
    height: 3em;
    margin: 0.5em;
    font-size: 2em;
}

/* opening display */
.opening-p {
    font-size: 2em;
}

.opening-h1 {
    font-size: 3em;
}

/* divs */